main {
  background-color: var(--palette-color-1);

  section.tv {
    overflow: hidden;
    // transition: clip-path 0.25s ease;
    color: #e7a94b;
    .step {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      // border: 1px solid red;
    }

    .step-1 {
      background-color: var(--palette-color-1);
      animation: fade-out 3s ease-in-out 4s 1 normal both;

      &.animate {
        animation: clip-out 3s ease-in-out 4s 1 reverse forwards;
      }
    }

    .step-2 {
      $timing: 5s;

      .school {
        overflow: auto hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: grow 500ms ease-out $timing 1 normal both;

        // p.description {
        //   height: auto;
        //   transition: all 0.3s ease;
        // }

        button.desktop,
        a.desktop {
          opacity: 0;
          transition: opacity 0.3s linear;
        }

        &:hover {
          button.desktop,
          a.desktop {
            opacity: 1;
          }

          // p.description {
          //   display: block;
          //   overflow: initial;
          // }
        }
      }

      @for $i from 1 through 5 {
        .school:nth-child(#{$i}) {
          animation-delay: calc($timing * (1 + ($i/ 18)));
          // animation-delay: calc(4.5s + ($i / 3));
        }
      }

      .school:nth-child(1) {
        background-color: #6699cc;
        background-image: linear-gradient(to top, #6699cc 10%, #6699cc33 80%),
          url("../assets/fashion\ 2.jpg");
      }

      .school:nth-child(2) {
        background-color: #fff275;
        background-image: linear-gradient(to top, #fff275 10%, #fff27533 80%),
          url("../assets/catering\ 1.jpg");
      }

      .school:nth-child(3) {
        background-color: #ff8c42;
        background-image: linear-gradient(to top, #ff8c42 10%, #ff8c4233 80%),
          url("../assets/cosmetology\ 1.jpg");
      }

      .school:nth-child(4) {
        background-color: #ff3c38;
        background-image: linear-gradient(to top, #ff3c38 10%, #ff3c3833 80%),
          url("../assets/media\ 4.jpg");
      }

      .school:nth-child(5) {
        background-color: #a23e48;
        background-image: linear-gradient(to top, #a23e48 10%, #a23e4833 80%),
          url("../assets/technology\ 2.jpg");
      }
    }
  }
}

@keyframes clip-out {
  0% {
    clip-path: ellipse(10vmin 10vmin at -20% -20%);
  }

  65% {
    clip-path: ellipse(30vmin 30vmin at 100% 80%);
  }

  100% {
    clip-path: ellipse(100% 100% at 45% 35%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: +1;
  }

  99% {
    opacity: 0;
    z-index: +1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes grow {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  main {
    section.tv {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../assets/catering\ 1.jpg");
      overflow: auto;

      .step-1 {
        position: fixed;
      }

      .step-2 {
        .school {
          background-color: transparent !important;
        }

        .school:nth-child(1) {
          background-image: linear-gradient(
            to left,
            #6699ccee 30%,
            #6699cc33
          );
        }

        .school:nth-child(2) {
          background-image: linear-gradient(
            to left,
            #fff275ee 30%,
            #fff27533
          );
        }

        .school:nth-child(3) {
          background-image: linear-gradient(
            to left,
            #ff8c42ee 30%,
            #ff8c4233
          );
        }

        .school:nth-child(4) {
          background-image: linear-gradient(
            to left,
            #ff3c38ee 30%,
            #ff3c3833
          );
        }

        .school:nth-child(5) {
          background-image: linear-gradient(
            to left,
            #a23e48ee 30%,
            #a23e4833
          );
        }
      }
    }
  }

  @keyframes grow {
    from {
      width: 0;
      opacity: 0;
    }

    to {
      width: 100%;
      opacity: 1;
    }
  }
}
